<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../static/img/favicon.png"
      type="image/x-icon"
    />
    <title>Flava</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="navigation container">
        <a href="#" class="navigation__logo">Flava</a>

        <div class="navigation__menu menu">
          <div class="menu__icon">
            <span class="menu__icon-line menu__icon-line--top"></span>
            <span class="menu__icon-line menu__icon-line--middle"></span>
            <span class="menu__icon-line menu__icon-line--bottom"></span>
          </div>
          <nav class="menu__body">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="" class="menu__link menu__link--active">home</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">line up</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">ticket</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">schedule</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">be part of</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">about</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link menu__link--account"
                  >create account</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="intro">
        <div class="intro__media">
          <img
            src="../static/img/intro-bg.png"
            alt="bg"
            class="intro__image img"
            id="image"
          />
          <video
            src="../static/video/concert.mp4"
            autoplay
            muted
            loop
            class="intro__video intro__video--is-played img"
            id="video"
          ></video>
        </div>
        <div class="intro__wrapper container">
          <div class="intro__block">
            <div class="intro__text-block">
              <h1 class="intro__title title title--main">
                ALL ABOUT MUSIC - ITS ALL HERE
              </h1>
              <p class="intro__text">
                Turn on the feeling with all music event
              </p>
            </div>
            <div class="intro__play-btn">
              <img
                src="../static/img/play.png"
                alt="play"
                class="intro__play img"
                id="play"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="concert-timer">
        <div class="concert-timer__wrapper container">
          <h2 class="concert-timer__title title">MUSIC FESTIVAL START IN</h2>
          <div class="concert-timer__timer timer">
            <div class="timer__block">
              <span class="timer__count" id="days">99</span>
              <span class="timer__text">days</span>
            </div>
            <div class="timer__block">
              <span class="timer__count" id="hours">99</span>
              <span class="timer__text">hours</span>
            </div>
            <div class="timer__block">
              <span class="timer__count" id="minutes">99</span>
              <span class="timer__text">minutes</span>
            </div>
            <div class="timer__block">
              <span class="timer__count" id="seconds">99</span>
              <span class="timer__text">seconds</span>
            </div>
          </div>
          <a href="#" class="concert-timer__button btn">BUY TICKET</a>
        </div>
      </section>

      <section class="lineup">
        <div class="lineup__wrapper container">
          <h2 class="lineup__title title">THE LINEUP OF FLAFA</h2>

          <div class="lineup__slider slider-lineup">
            <div class="slider-lineup__column">
              <div class="slider-lineup__slide slide-lineup">
                <div class="slide-lineup__image-wrapper">
                  <img
                    src="../static/img/line-up1.png"
                    alt="line-up1"
                    class="slide-lineup__image img"
                  />
                  <div class="slide-lineup__text-block">
                    <span class="slide-lineup__text">RAYUL</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-lineup__column">
              <div class="slider-lineup__slide slide-lineup">
                <div class="slide-lineup__image-wrapper">
                  <img
                    src="../static/img/line-up2.png"
                    alt="line-up1"
                    class="slide-lineup__image img"
                  />
                  <div class="slide-lineup__text-block">
                    <span class="slide-lineup__text">ATIKH BANA</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-lineup__column">
              <div class="slider-lineup__slide slide-lineup">
                <div class="slide-lineup__image-wrapper">
                  <img
                    src="../static/img/line-up3.png"
                    alt="line-up1"
                    class="slide-lineup__image img"
                  />
                  <div class="slide-lineup__text-block">
                    <span class="slide-lineup__text">RAFAELLA</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-lineup__column">
              <div class="slider-lineup__slide slide-lineup">
                <div class="slide-lineup__image-wrapper">
                  <img
                    src="../static/img/line-up1.png"
                    alt="line-up1"
                    class="slide-lineup__image img"
                  />
                  <div class="slide-lineup__text-block">
                    <span class="slide-lineup__text">RAYUL</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-lineup__column">
              <div class="slider-lineup__slide slide-lineup">
                <div class="slide-lineup__image-wrapper">
                  <img
                    src="../static/img/line-up2.png"
                    alt="line-up1"
                    class="slide-lineup__image img"
                  />
                  <div class="slide-lineup__text-block">
                    <span class="slide-lineup__text">ATIKH BANA</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-lineup__column">
              <div class="slider-lineup__slide slide-lineup">
                <div class="slide-lineup__image-wrapper">
                  <img
                    src="../static/img/line-up3.png"
                    alt="line-up1"
                    class="slide-lineup__image img"
                  />
                  <div class="slide-lineup__text-block">
                    <span class="slide-lineup__text">RAFAELLA</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lineup__controls"></div>
        </div>
      </section>

      <section class="sponsors">
        <div class="sponsors__wrapper container">
          <h2 class="sponsors__title title">SPONSORS</h2>

          <div class="sponsors__slider slider-sponsors">
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor1.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor2.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor3.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor4.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor5.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor6.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor1.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor2.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor3.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor4.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor2.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
            <div class="slider-sponsors__slide slide-sponsors">
              <a href="#" class="slide-sponsors__image-wrapper">
                <img
                  src="../static/img/sponsor2.png"
                  alt=""
                  class="slide-sponsors__image"
                />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="form-block">
        <div class="form-block__wrapper container">
          <h2 class="form-block__title title">FIRST COME, FIRST SERVED</h2>
          <p class="form-block__description">
            1,000 people who leave a request will receive a gift from FLAVA
          </p>
          <form class="form-block__form form js-form">
            <div class="form__left-side">
              <input
                class="form__input form__name"
                type="text"
                name="name"
                id="name"
                placeholder="Your name"
                required
              />
              <input
                class="form__input form__email"
                type="email"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
              <input
                class="form__input form__tel"
                type="tel"
                name="tel"
                id="tel"
                placeholder="Your phone"
                required
              />
            </div>
            <div class="form__right-side">
              <textarea
                class="form__textarea"
                name="textarea"
                id="textarea"
                placeholder="Your message"
              ></textarea>
              <input class="form__btn btn" type="submit" value="SEND" />
            </div>
          </form>
        </div>
      </section>

      <section class="subscribe">
        <div class="subscribe__wrapper container">
          <div class="subscribe__info">
            <div class="subscribe__type">
              <p class="subscribe__text">Phone</p>
              <a href="tel:62-812-2345-678" class="subscribe__link"
                >+62 812 2345 678</a
              >
            </div>
            <div class="subscribe__type">
              <p class="subscribe__text">Email</p>
              <a href="mailto:Flavamusicfest@mail.com" class="subscribe__link"
                >Flavamusicfest@mail.com</a
              >
            </div>
          </div>
          <div class="subscribe__block">
            <h2 class="subscribe__title">Keep In Touch</h2>
            <form class="subscribe__form subscribe-form js-form">
              <input
                class="subscribe-form__email"
                type="email"
                name="subscribe-email"
                id="subscribe-email"
                placeholder="Your Email"
              />
              <input
                class="subscribe-form__submit btn"
                type="submit"
                value="Subscribe"
              />
            </form>
            <div class="subscribe__socials">
              <a href="#" class="subscribe__socials-wrapper">
                <img
                  src="../static/img/instagram.png"
                  alt="instagram"
                  class="subscribe__socials-image"
                />
              </a>
              <a href="#" class="subscribe__socials-wrapper">
                <img
                  src="../static/img/youtube.png"
                  alt="youtube"
                  class="subscribe__socials-image"
                />
              </a>
              <a href="#" class="subscribe__socials-wrapper">
                <img
                  src="../static/img/tiktok.png"
                  alt="tiktok"
                  class="subscribe__socials-image"
                />
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__wrapper container">
        <a href="#" class="footer__statute"
          >Terms & Conditions for Event • Privacy Policy • Terms of Use</a
        >
        <a href="#" class="footer__copyright"
          >Copyright © 2021 • Flava - Music Festival</a
        >
      </div>
    </footer>

    <script src="../static/js/main.js"></script>
  </body>
</html>
